Solution/CMakeCache.txt
Solution/Debug
Solution/Release
Solution/PhoenixEngine/Debug
Solution/PhoenixEngine/Release
Solution/Game/Debug
Solution/Game/Release

#Assets
Solution/Libraries/Dll/x32/Assets/Audio
Solution/Libraries/Dll/x32/Assets/DeprecatedShaders
Solution/Libraries/Dll/x32/Assets/Materials
Solution/Libraries/Dll/x32/Assets/Models
Solution/Libraries/Dll/x32/Assets/Shaders
Solution/Libraries/Dll/x32/Assets/Textures

#Libs
Solution/x64/Debug/PhoenixEngine.lib
Solution/Libraries/Lib/Debug.x32/FBX/libfbxsdk-md.lib
Solution/Libraries/Lib/Release.x32/FBX/libfbxsdk-md.lib

**/Build
**/obj/Debug
**/obj/Release

#VS stuff
*.user
*.sdf
*.sln
*.vcxproj*
*.opensdf
*.suo
*.cmake
*.tlog
*.idb
*.enc

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
#*.so
#*.dylib
#*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
#*.lib

# Executables
*.exe
!Premake5.exe
*.out
*.app

# Misc Files
Log.txt
