Solution/CMakeCache.txt
Solution/Debug
Solution/Release
Solution/PhoenixEngine/Debug
Solution/PhoenixEngine/Release
Solution/TestGame/Debug
Solution/TestGame/Release
*/Build
*/obj/Debug
*/obj/Release


#VS stuff
*.user
*.sdf
*.sln
*.vcxproj*
*.opensdf
*.suo
*.cmake
*.tlog
*.idb
*.enc

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
#*.so
#*.dylib
#*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
#*.lib

# Executables
*.exe
!Premake5.exe
*.out
*.app

# Misc Files
Log.txt